/*
	CSS for the history page
	2017-05-09
*/

/*--- by ID ---*/

#background_img {
  min-height: 100%;
  min-width: 1em;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#submit_button{
  display: block;
  margin: 2em auto auto auto;
}

/*--- by CLASS ---*/

.footer{
  height: auto;
  text-align: center;
  background-color: #292B2C;
  padding: 1em;
  word-spacing: .2em;
  position: fixed;
  bottom: 0;
  width: 100%;

}

.form_container{
  height: 30em;
  border: 3px solid black;
}

.form_image{
  max-width: 100%;
  margin: auto;
  display: block;
  padding-bottom: 4em;
}

.form_jumbotron{
  margin: 5em auto 8em auto;
  height: 38em;
}

.navbar-toggler{
  margin-top: .4em;
}

.text-purple{
  color: #5014a2;
}

.text-blue{
  color: #13b4d6;
}
.headtext{
	font-size: 40px;
	text-decoration: underline;
	font-weight: bold;
}
.headbox{
	background-color: rgba(41, 43, 44, 0.8);
	border: 1px solid black;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FFFFFF;
}
.idebox{
	background-color: rgba(41, 43, 44, 0.8);
	border: 1px solid black;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FFFFFF;
	margin-top: -3em;
}
.vsintrobox{
	background-color: rgba(41, 43, 44, 0.8);
	border: 1px solid black;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FFFFFF;
}
.historybox{
	background-color: rgba(41, 43, 44, 0.8);
	border: 1px solid black;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FFFFFF;
}
.versiontable{
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid white;
	text-align: center;
}
h3, h2, h5{
	text-decoration: underline;
}
h5{
	font-weight: bold;
}
.timelinebox{
	background-color: rgba(41, 43, 44, 0.8);
	border: 1px solid black;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FFFFFF;
}